@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "normalize.css";
@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css');

.nav-bar {
  display: flex;
  width: 60%;
  height: 4.5rem;
  border-radius: 20px;
  top: 2.5rem;
  align-items: center;
  padding: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur( 10px );
  background-color: rgb(128, 128, 128, 0.2);
  box-shadow: 0 0 40px rgba(58, 56, 56, 0.6);
  position: fixed;
  z-index: 1000;
  flex-direction: row-reverse;
  align-self: center;
  justify-content: space-between;
}


.nav-bar-logo {
  width: 80px;
}


.menu-button-container {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 7.5px;
  background: transparent;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  gap: 0.3rem;
}


.menu-button-line {
  height: 0.2rem;
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur( 10px );
  box-shadow: 0 0 1px rgba(57, 91, 201, 0.6);
}

.long-line {
  width: 100%;
}

.short-line{
  width: 50%;
}

.last-line {
align-self: flex-end;

}


.short-line-active {
  transform: rotate(45deg) translateX(0.2rem) 
}

.long-line-active {
  transform: rotate(140deg);
}

.last-line-active {
  transform: rotate(45deg) translateX(-0.2rem)

}


.main-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

::-webkit-scrollbar{
  display: none;
}

.scroll-mouse {
  width: 1.3rem;
  height: 2.6rem;
  border: 1px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 3rem;
  right: 50%;
  display: flex;
  justify-content: center;
  padding: 2.5px;
}


.scroll-mouse div {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: white;
  animation: customAni 2.7s cubic-bezier(0.5, 0, 0.75, 0) 1s infinite normal none;
}


@keyframes customAni {
  0% {
    transform: translateY(0.2rem);
    opacity: 0.4;
  }

  5% {
    opacity: 1;
    transform: translateY(0.2rem);

  }

  50% {
	transform: translateY(1.5rem);
  }

  75% {
	opacity: 0;
  }

  100% {
    opacity: 0;

		transform: translateY(1.5rem);
  }

}


.main-screen-buttons-container {
 display: flex;
 gap: 1.5rem;
 position: absolute;
 bottom: 3rem;
 left: 3rem;
}



.button-navigation {
  min-width: 4rem;
  height: 1.3rem;
  display: flex;
  text-align: start;
  padding-right: 2rem;
  font-size: 1rem;
  line-height: 92.4%;
  letter-spacing: .19em;
  font-family: D-DIN Condensed, sans-serif;
  border: none;
  background: none;
  cursor: pointer;
  color: #e1dfdf;
  position: relative;
  overflow: hidden;
}

.button-navigation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%; 
  width: 30%;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.845);
  transition: width 0.3s ease; 
}

.button-navigation:hover::after {
  width: 100%;
  left: 0;
}





.main-width-text {
  font-family: Mark Pro, sans-serif;
  font-family: "Mark Pro", sans-serif;
  font-weight: bolder;
  font-size: 4.5rem;
  line-height: 100%;
  letter-spacing: -.03em;
  color: #fff;
  width: fit-content;
  margin-bottom: 4rem;
}


.header__hero--heading-gradient {
  background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  75% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.main-pic-container {
  width: 25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  background-image: url('./assets/images/pixel-pfp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  }


.rocket-gif {
  width: 25rem;
  height: 25rem;
  transform: rotate(300deg);
  display: flex;
  margin-top: 3rem;
}


.outer-gif{
  position: absolute;
  z-index: 1;
}








article {
	width: 600px;
	aspect-ratio: 2 / 1.1;
	min-height: 330px;
	position: relative;
	overflow: hidden;
	border-radius: 4em;
	max-width: calc(100% - 2rem);
  background: hsl(0 0% 50%);
}

article > img {
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% 0;
	height: 100%;
	width: 660px;
	object-fit: cover;
	object-position: center 43%;
	user-select: none;
	pointer-events: none;
}

:root {
  --x: 0;
  --y: 0;
}

article > img:first-of-type {
	filter: saturate(1.5) brightness(0.9);
	object-position: calc(-50% + (var(--x) * 30px)) calc(43% + (var(--y) * -20px));
}

article > img:last-of-type {
	object-position: calc(-50% + (var(--x) * 40px)) calc(43% + (var(--y) * -40px));
}

article h3 {
	position: absolute;
	left: 50%;
	top: 6%;
	margin: 0;
	font-size: 8rem;
	translate: -50% 0;
	text-transform: uppercase;
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	translate: calc(-50% + (var(--x) * -30px)) calc(var(--y) * -20px);
}

.content {
	min-height: 32%;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	display: grid;
	gap: 0.2rem;
	place-items: center;
	align-content: center;
	padding-bottom: .5rem;
}

.content svg {
	width: 20px;
}

.content p {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.2rem;
}

.content p:first-of-type::after {
	content: "";
	position: absolute;
	top: 1rem;
	left: 50%;
	width: 6ch;
	background: white;
	height: 1px;
	translate: -50% 0;
}

.content p:last-of-type {
	opacity: 0.8;
}

/* Blurring */
.blur {
	position: absolute;
	inset: 60% 0 -26% 0;
	filter: blur(20px);
	overflow: hidden;
}

.blur img {
	object-position: calc(-50% + (var(--x) * 40px)) calc(47.5% + (var(--y) * -40px));
	object-fit: cover;
	left: 50%;
	translate: -50% 0;
	height: 330px;
	position: absolute;
	bottom: 25%;
	width: 660px;
	mask: radial-gradient(50% 100% at 50% 90%, white 50%, transparent);
  filter: saturate(1.5) brightness(0.8);
}

.bear-link {
	color: canvasText;
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: 48px;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	opacity: 0.8;
}

:where(.x-link, .bear-link):is(:hover, :focus-visible) {
	opacity: 1;
}
.bear-link svg {
	width: 75%;
}

.second-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}













.widgets-container {
  display: grid;
  flex: none;
  gap: 20px;
  grid-auto-rows: 185px;
  grid-template-columns: repeat(4, minmax(201px, 1fr));
  grid-template-rows: repeat(3, 185px);
  height: 619px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 900px;
}


.widget-one {
  flex: none;
  height: 65%;
  width: 25%;
  left: calc(49.591280653950975% - 100% / 2);
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  top: calc(50.00000000000002% - 100% / 2);
  z-index: 1;
  background-color: #121212;
  border-radius: 15px;
  box-shadow: 4px -11rem 96px -30px rgba(0,0,0,0.63) inset;
  padding: 30px;
  cursor: pointer;

}

.widget-two {
  flex: none;
  height: 30%;
  width: 75%;
  right: calc(49.591280653950975% - 100% / 2);
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  top: calc(50.00000000000002% - 100% / 2);
  z-index: 1;
  background-color: #121212;
  border-radius: 15px;
  box-shadow: 4px -7rem 96px -30px rgba(0,0,0,0.63) inset;
  padding: 30px;
  cursor: pointer;
}



.widget-two:hover .agenda-pic {
  margin-top: -20px;
}


.widget-three {
  flex: none;
  height: 33%;
  width: 50%;
  left: calc(49.591280653950975% - 100% / 2);
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  bottom: calc(50.00000000000002% - 100% / 2);
  z-index: 1;
  background-color: #121212;
  border-radius: 15px;
  box-shadow: 4px -7rem 96px -30px rgba(0,0,0,0.63) inset;
  padding: 30px;
  cursor: pointer;

}

.widget-four {
  flex: none;
  height: 68%;
  width: 50%;
  right: calc(49.591280653950975% - 100% / 2);
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  bottom: calc(50.00000000000002% - 100% / 2);
  z-index: 1;
  background-color: #121212;
  border-radius: 15px;
  box-shadow: 4px -9rem 96px -30px rgba(0, 0, 0, 0.63) inset;
  padding: 30px;
  cursor: pointer;

}


.toolbox-icons-container {
  width: 100%;
  height: 65%;
  position: absolute;
  left: 0;
  bottom: 0;  

}


.toolbox-icons-container i {
  color: white;
  opacity: 0.8;
  font-size: 40px;
  position: absolute;
  transition: top 0.8s ease; 
  transition: color 0.8s ease; 
}


.toolbox-icons-container:hover i {
  margin-top: -10px;
}

.widget-five {
  height: 34%;
  width: 24%;
  left: calc(50.591280653950975% - 100% / 4);
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  bottom: calc(51.00000000000002% - 100% / 6);
  z-index: 1;
  background-color: #121212;
  border-radius: 15px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background 1.2s ease; 
  cursor: pointer;

}

.widget-five-pic {
  width: 180%;
  aspect-ratio: 1;
  display: flex;
  opacity: 1; 
  transition: opacity 1.2s ease; 
}

.widget-five:hover {
  background-color: transparent;
}

.widget-five:hover .widget-five-pic {
  opacity: 0;
}

.widget-five:hover .social-media-btns-container {
  opacity: 1;
}

.widget-title {
  color: white;
  font-size: 20px;
}

.widget-desc {
  color: grey;
  margin-top: 15px;
  font-size: 14px;
}




button {
  font-size: calc(0.4 * var(--m));
  border: none;
  color: #e5e5e5;
  border-radius: calc(0.3 * var(--m));
}



.third-screen {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

.cards-container {
  width: 90%;
  height: 25rem;
  grid-auto-rows: 185px;
  grid-template-columns: repeat(5,  1fr);
  grid-template-rows: repeat(6,  1fr);
  display: grid;
  gap: 30px;
}

.cards-container .card {
  height: 25rem;
  background-color: #121212;
  border-radius: 20px;
  position: relative;
}



.card-number-title {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 150px;
  position: absolute;
  display: inline-block;
  right: -20px;
  top: -90px;
  opacity: 0.6;
  z-index: -1;
  user-select: none;
}

.card-number-title:before {
  content: attr(data-trunc);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0);
  z-index: 1;
  -webkit-text-stroke: 1px white;
}

.card-number-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  background: linear-gradient(to top left, black, transparent);
  bottom: -20px;
  z-index: 2;
  pointer-events: none;

}





* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}



footer h2 {
  font-weight: 500;
  text-align: center;
  font-size: var(--m);
  margin: 0;
}

footer h3 {
  font-weight: 500;
  font-size: calc(0.6 * var(--m));
  margin: 0;
}



footer button {
  background-color: #000;
  font-size: calc(0.4 * var(--m));
  border: none;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  padding: calc(0.35 * var(--m)) calc(0.8 * var(--m));
  border-radius: calc(0.3 * var(--m));
}

footer {
  
  z-index: 500;
  width: 100%;
  height: 50vh;
  --m: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 2vw;
  position: relative;
  background-color: black;
  color: white;
  font-family: "IBM Plex Sans";
  overflow: hidden;

  color: #d5d5d5;
  font-size: calc(0.3 * var(--m));
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 1.3) 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0)
  );
  z-index: -7;
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;

  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(0, 0, 0, 10) 60%,
    rgb(0, 0, 0)
  );

  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(0, 0, 0, 10) 60%,
    rgb(0, 0, 0)
  );
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
  width: 28%;
  
}

.col2,
.col3 {
  background-color: #121212;
  border-radius: calc(0.3 * var(--m));
}

footer img {
  height: calc(0.3 * var(--m));
  object-fit: cover;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.social i {
  font-size: 26px;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  width: calc(0.8 * var(--m));
  height: calc(0.8 * var(--m));
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: calc(0.1 * var(--m));

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .col {
    width: 100%;
  }
}


.footer-background-box {
  width: 95%;
  height: 400px;
  background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
  background-clip: border-box;
  position: absolute;
  bottom: 0px;
  z-Index: -100;
  bottom: -50px;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
  border-radius: 20px;
  opacity: 0.6;
}





.profile-connect-container {
  position: absolute;
  display: flex;
  justify-Content: center;
  align-Items: center;
  gap: 2.5;
  top: 30px;
  left: 15%;
}





.profile-connect {
  aspect-ratio: 1;
  width: 50px;
  border-radius: 100%;
  top: 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 2px solid rgba(76, 138, 173, 1, 0.8);
}


.profile-pfp {
  width: 100%;
  aspect-ratio: 1;

}


.widget-one i {
  color: white;
  opacity: 0.7;
  font-size: 82px;
  transform: rotate(30deg);
}


.pattern-container {
  position: absolute;
  top: -100px; /* Aligns the container to the top */
  left: -140px; /* Aligns the container to the left */
  width: 200%; /* Ensures full width of the parent */
  height: 100%; /* Ensures full height of the parent */
  overflow: hidden; /* Prevents overflow */
  filter: invert(30%) sepia(10%) saturate(100%) hue-rotate(0deg); /* Adjust these values */

}

.pattern-container::before {
  content: '';
  position: absolute;
  top: 0; /* Starts at the top of the container */
  left: 0; /* Starts at the left of the container */
  width: 100%; /* Fills full width */
  height: 100%; /* Fills full height */
  background-image: url('./assets/svg/question-mark.svg');
  background-repeat: repeat;
  background-size: 60px 60px;
  transform: rotate(30deg); /* Adjust for rotation */
  pointer-events: none; /* Allow interaction with underlying elements */
}




.agenda-pic {
  width: 50%;
  position: absolute;
  right: 30px;
  top: 40px;
  box-shadow: 4px -9rem 96px -30px rgba(0, 0, 0, 0.63) inset;
  opacity: 0.8;
  border-radius: 5px;
  transition: margin 0.8s ease; 

}





.social-media-btns-container {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  display: grid;
  opacity: 0;
  transition: opacity 1s ease; 
}

.social-media-btn {
  overflow: hidden;
  border-radius: 5px;
  background-color: #2fff00;
  width: 100%; 
  height: 100%; 
  background-color: #121212;
  cursor: pointer;
}

.social-media-btn:hover {
  background-color: #212121;
}

.social-media-btn i {
  font-size: 24px;
}



@keyframes social-media-showup {
  100% {
    opacity: 1;
  }
}


@keyframes social-media-hide {
  100% {
    opacity: 0;
  }
}


.ti-brand-javascript:hover {
  color: #F7E025;
}
.ti-brand-docker:hover {
  color: #1072D8;
}
.ti-brand-css3:hover {
  color: #2D53E5;
}
.ti-brand-golang:hover {
  color: #00A7D0;
}
.ti-brand-flutter:hover {
  color: #5CC3F0;
}
.ti-brand-kotlin:hover {
  color: #9C31E9;
}
.ti-brand-vue:hover {
  color: #47BA87;
}
.ti-brand-git:hover {
  color: #E84E31;
}
.ti-brand-visual-studio:hover {
  color: #0174B4;
}
.ti-brand-php:hover {
  color: #7377AD;
}
.ti-brand-html5:hover {
  color: #DD4B25;
}
.ti-brand-react-native:hover {
  color: #5ED3F3;
}
.ti-brand-python:hover {
  color: #346E9F;
}
.ti-brand-stackoverflow:hover {
  color: #F6842D;
}
.ti-brand-vite:hover {
  color: #FACE48;
}
.ti-api:hover {
  color: #F36D2C;
}
.ti-brand-c-sharp:hover {
  color: #3F0894;
}
.ti-brand-typescript:hover {
  color: #2F74C0;
}
.ti-brand-firebase:hover {
  color: #FF9408;
}
.ti-brand-github:hover {
  color: #2C3036;
}
.ti-brand-angular:hover {
  color: #D6002F;
}
.ti-sdk:hover {
  color: #90C855;
}

























.page-title-container {
  margin-inline: auto;
}



.third-screen .cards-container {
    top: 0;
    margin-top: 150px;
}


.third-screen .page-title-container {
  margin-top: 100px;
}

.second-screen .page-title-container {
  margin-top: 50px;
}








/* Small devices (phones in portrait mode) */
@media (max-width: 599px) {
  body {
  }
  .nav-bar {
    width: 90%;
    top: 1.5rem;
  }
  .main-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .second-screen {
    height: auto;
    overflow: hidden;
    align-items: start;
  }
  .main-pic-container {
    width: 15rem;
  }
  .rocket-gif {
    width: 15rem;
    height: 15rem;
  }
  .main-width-text {
    font-size: 2.3rem;
    margin-bottom: 0;
    width: 90%;
    margin-inline: auto;
  }
  .main-screen-buttons-container {
    bottom: 0rem;
    gap: 1;
  }
  .scroll-mouse {
    right: 3.5rem;
    bottom: 0;
  }
  .widgets-container {
    width: 100%;
    height: 70rem;
    gap: 25px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(1,  1fr);
    overflow: hidden;
  }
  .widget-one {
    width: 11rem;
    height: 330px;
    top: 0;
    left: 5%;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  .widget-two {
    width: 23rem;
    height: 165px;
    top: calc(520px / 1);
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-inline: auto; 
  }
  .widget-three {
    width: 23rem;
    height: 165px;
    top: calc( 340px / 1);
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-inline: auto; 
  }
  .widget-four {
    width: 23rem;
    height: 370px;
    top: calc(690px / 1);
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-inline: auto; 
  }
  .widget-five {
    height: 180px;
    width: 45%;
    top: 0;
    bottom: 0;
    margin: 0;
    margin-inline-start: 25%;
  }
  .toolbox-icons-container i {
    font-size: 30px;
  }
  .cards-container {
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, 1fr);  
    height: 90%;
    gap: 100px;
    margin-top: 150px;
  }
  .third-screen {
    height: max-content;
    overflow: hidden;
    width: 100%;
  }
  .cards-container .card  {
    height: 30rem;
  }
  footer {
    height: 90vh;
    flex-direction: column;
    padding: 5rem 0vw;
    overflow: hidden;
  }
  .footer-background-box {
    top: 80px;
    width: 90%;
    height: 100px;
    margin-right:4%;
  }
  .profile-connect-container  {
    left: 7%;
  }
  .nav-bar-logo {
    width: 50px;
    height: 80px;
  }
  .widget-five-pic {
    height: 180%;
  }
  .agenda-pic {
    top: 120px;
  }
  .col3 {
    width: 95%;
    margin-inline: auto;
  }
  .col2 {
    width: 95%;
    margin-inline: auto;
  }
  .page-title-container{
    width: 95%;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 300px;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.6), 
    inset 0 0 60px rgba(0, 0, 0, 0.8), 
    inset 0 0 140px rgba(0, 0, 0, 0.9), 
    inset 0 0 220px rgba(0, 0, 0, 1);
    background-size: 15px 15px;
    margin-inline: auto;
  }
  .page-title {
    margin-inline: auto;
    align-self: center;
    text-align: center;
    font-size: 10vw;
  }
  .page-desc {
    font-size: 4vw;
  }

  .ti-brand-vue {
    display: none;
  }

  .ti-brand-css3 {
    display: none;
  }

  .ti-brand-html5 {
    display: none;
  }

  .ti-brand-flutter {
    display: none;
  }
}


/* Medium devices (tablets in portrait mode) */
@media (min-width: 600px) and (max-width: 899px) {}

/* Large devices (tablets in landscape mode, small desktops) */
@media (min-width: 900px) and (max-width: 1199px) {}

/* Extra large devices (desktops, large screens) */
@media (min-width: 1200px) {}